*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #0c2635;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

img{
    width: 50px;
    height: 40px;
}

form{
    background: #fff;
    font-size: 20px;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    padding: 5%;
    padding-right: 7%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 25%;
}

h1{
    font-size: 2.0em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-align: center;
    margin: 10px;
}

input{
    height: 2.5em;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
}

select{
    height: 2.5em;
    width: 100%;
    border-radius: 5px;
    margin: 5px;
    padding-left: 10px;
}

.submit:hover{
    background-color: #0c2635;
    color: #fff;
}

#decl{
    width: 5%;
}